<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.choicely.learn.testingapp"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"
        />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.TestingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestingApp"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageTestActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".SoundTestActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".CardView1Activity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".viewpager.ViewPagerActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".AdjustTestActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".receiptsave.ReceiptSavingActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".receiptsave.CameraActivity"
            android:parentActivityName=".receiptsave.ReceiptSavingActivity"
            />
        <activity
            android:name=".countdowntimer.CountDownTimerActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".threading.RandomStringsActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".imagegallery.ImageGalleryActivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".imagegallery.ShowGalleryPicsActivity"
            android:parentActivityName=".imagegallery.ShowGalleryPicsActivity"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>
    </application>

</manifest>